# interpret (wiki).phtml as php
<IfModule php5_module>
        AddType application/x-httpd-php .php .php5 .phtml
</IfModule>

# rewrite all requests to core codebase
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_URI} !^/mediawiki/mediawiki/.*$
  RewriteRule (.*) /mediawiki/mediawiki/$1 [L]
</IfModule>
